In [93]:
%pip install seaborn

Requirement already satisfied: seaborn in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\redes-neuronales\rn_env\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\redes-neuronales\rn_env\lib\site-packages (from seaborn) (1.24.3)
Requirement already satisfied: pandas>=1.2 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\redes-neuronales\rn_env\lib\site-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\redes-neuronales\rn_env\lib\site-packages (from seaborn) (3.10.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\redes-neuronales\rn_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\redes-neuronales\rn_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\redes-neuronales\rn_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\redes-neuronales\rn_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\redes-neuronales\rn_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\redes-neuronales\rn_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\redes-neuronales\rn_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\redes-neuronales\rn_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\redes-neuronales\rn_env\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\redes-neuronales\rn_env\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [94]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder, OrdinalEncoder
import seaborn as sns
import matplotlib.pyplot as plt

In [95]:
#  Paso 2: Cargar datos
ruta = "../data/datos_unidos.csv"  # ajusta la ruta si es necesario
df = pd.read_csv(ruta)
df.set_index('paciente_id', inplace=True)  # Establecer la columna 'ID' como índice del DataFrame
df.head()

,fumador,alcohol,actividad_fisica,vive,edad,sexo,estado_civil,nivel_educativo,ocupacion,region,...,leucocitos,plaquetas,creatinina,mut_BRCA1,mut_TP53,mut_EGFR,mut_KRAS,mut_PIK3CA,mut_ALK,mut_BRAF
paciente_id,,,,,,,,,,,,,,,,,,,,,
P1000000,1,1,Baja,1,69,F,Viudo,Secundaria,Empleado,Centro,...,"6,12","258,09","0,97",0,0,0,0,0,0,1
P1000001,0,1,Moderada,0,32,M,Soltero,Universitaria,Autónomo,Sur,...,"6,97","278,32","0,85",0,0,0,0,0,0,1
P1000002,1,1,Baja,1,89,M,Viudo,Primaria,Desempleado,Norte,...,"7,54","245,35","1,59",0,0,0,0,0,0,0
P1000003,1,1,Baja,0,78,M,Viudo,Secundaria,Autónomo,Centro,...,"8,56","245,11","1,26",0,0,0,1,0,0,0
P1000004,1,1,Moderada,1,38,F,Soltero,Posgrado,Autónomo,Norte,...,"8,2","234,44","0,88",0,0,0,0,0,0,0

In [96]:
df.shape

(50000, 39)

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50000 entries, P1000000 to P1049999
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   fumador              50000 non-null  int64
 1   alcohol              50000 non-null  int64
 2   actividad_fisica     50000 non-null  object
 3   vive                 50000 non-null  int64
 4   edad                 50000 non-null  int64
 5   sexo                 50000 non-null  object
 6   estado_civil         50000 non-null  object
 7   nivel_educativo      50000 non-null  object
 8   ocupacion            50000 non-null  object
 9   region               50000 non-null  object
 10  pais_nacimiento      50000 non-null  object
 11  codigo_postal        50000 non-null  int64
 12  ingresos_mensuales   50000 non-null  object
 13  gastos_salud         50000 non-null  int64
 14  seguro_salud         50000 non-null  int64
 15  deudas               50000 non-null  int64
 16  tipo_empleo          50000 non-null  object
 17  ayudas_publicas      50000 non-null  int64
 18  diabetes             50000 non-null  int64
 19  hipertension         50000 non-null  int64
 20  obesidad             50000 non-null  int64
 21  cancer               50000 non-null  int64
 22  enfermedad_cardiaca  50000 non-null  int64
 23  asma                 50000 non-null  int64
 24  epoc                 50000 non-null  int64
 25  glucosa              50000 non-null  object
 26  colesterol           50000 non-null  object
 27  trigliceridos        50000 non-null  object
 28  hemoglobina          50000 non-null  object
 29  leucocitos           50000 non-null  object
 30  plaquetas            50000 non-null  object
 31  creatinina           50000 non-null  object
 32  mut_BRCA1            50000 non-null  int64
 33  mut_TP53             50000 non-null  int64
 34  mut_EGFR             50000 non-null  int64
 35  mut_KRAS             50000 non-null  int64
 36  mut_PIK3CA           50000 non-null  int64
 37  mut_ALK              50000 non-null  int64
 38  mut_BRAF             50000 non-null  int64
dtypes: int64(23), object(16)
memory usage: 15.3+ MB

In [98]:
df.dtypes

fumador                 int64
alcohol                 int64
actividad_fisica       object
vive                    int64
edad                    int64
sexo                   object
estado_civil           object
nivel_educativo        object
ocupacion              object
region                 object
pais_nacimiento        object
codigo_postal           int64
ingresos_mensuales     object
gastos_salud            int64
seguro_salud            int64
deudas                  int64
tipo_empleo            object
ayudas_publicas         int64
diabetes                int64
hipertension            int64
obesidad                int64
cancer                  int64
enfermedad_cardiaca     int64
asma                    int64
epoc                    int64
glucosa                object
colesterol             object
trigliceridos          object
hemoglobina            object
leucocitos             object
plaquetas              object
creatinina             object
mut_BRCA1               int64
mut_TP53                int64
mut_EGFR                int64
mut_KRAS                int64
mut_PIK3CA              int64
mut_ALK                 int64
mut_BRAF                int64
dtype: object

In [99]:
df.columns

Index(['fumador', 'alcohol', 'actividad_fisica', 'vive', 'edad', 'sexo',
       'estado_civil', 'nivel_educativo', 'ocupacion', 'region',
       'pais_nacimiento', 'codigo_postal', 'ingresos_mensuales',
       'gastos_salud', 'seguro_salud', 'deudas', 'tipo_empleo',
       'ayudas_publicas', 'diabetes', 'hipertension', 'obesidad', 'cancer',
       'enfermedad_cardiaca', 'asma', 'epoc', 'glucosa', 'colesterol',
       'trigliceridos', 'hemoglobina', 'leucocitos', 'plaquetas', 'creatinina',
       'mut_BRCA1', 'mut_TP53', 'mut_EGFR', 'mut_KRAS', 'mut_PIK3CA',
       'mut_ALK', 'mut_BRAF'],
      dtype='object')

In [100]:
df.head(3)

,fumador,alcohol,actividad_fisica,vive,edad,sexo,estado_civil,nivel_educativo,ocupacion,region,...,leucocitos,plaquetas,creatinina,mut_BRCA1,mut_TP53,mut_EGFR,mut_KRAS,mut_PIK3CA,mut_ALK,mut_BRAF
paciente_id,,,,,,,,,,,,,,,,,,,,,
P1000000,1,1,Baja,1,69,F,Viudo,Secundaria,Empleado,Centro,...,"6,12","258,09","0,97",0,0,0,0,0,0,1
P1000001,0,1,Moderada,0,32,M,Soltero,Universitaria,Autónomo,Sur,...,"6,97","278,32","0,85",0,0,0,0,0,0,1
P1000002,1,1,Baja,1,89,M,Viudo,Primaria,Desempleado,Norte,...,"7,54","245,35","1,59",0,0,0,0,0,0,0

In [101]:
df.describe()

,fumador,alcohol,vive,edad,codigo_postal,gastos_salud,seguro_salud,deudas,ayudas_publicas,diabetes,...,enfermedad_cardiaca,asma,epoc,mut_BRCA1,mut_TP53,mut_EGFR,mut_KRAS,mut_PIK3CA,mut_ALK,mut_BRAF
count,50000.000000,50000.0,50000.000000,50000.000000,50000.00000,50000.000000,50000.0,50000.000000,50000.0,50000.000000,...,50000.000000,50000.0,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,0.364360,1.0,0.871680,53.398700,50001.09824,228.762000,1.0,0.192720,1.0,0.212540,...,0.194140,0.0,0.036220,0.098940,0.099860,0.102120,0.100500,0.101340,0.103380,0.100300
std,0.481255,0.0,0.334449,20.799006,28692.22255,88.941023,0.0,0.394439,0.0,0.409109,...,0.395541,0.0,0.186839,0.298584,0.299816,0.302809,0.300669,0.301781,0.304458,0.300403
min,0.000000,1.0,0.000000,18.000000,501.00000,150.000000,1.0,0.000000,1.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.0,1.000000,35.000000,25049.75000,150.000000,1.0,0.000000,1.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1.0,1.000000,53.000000,49844.00000,250.000000,1.0,0.000000,1.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.0,1.000000,71.000000,74866.25000,250.000000,1.0,0.000000,1.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.0,1.000000,89.000000,99943.00000,550.000000,1.0,1.000000,1.0,1.000000,...,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [102]:
df.isnull().sum()

fumador                0
alcohol                0
actividad_fisica       0
vive                   0
edad                   0
sexo                   0
estado_civil           0
nivel_educativo        0
ocupacion              0
region                 0
pais_nacimiento        0
codigo_postal          0
ingresos_mensuales     0
gastos_salud           0
seguro_salud           0
deudas                 0
tipo_empleo            0
ayudas_publicas        0
diabetes               0
hipertension           0
obesidad               0
cancer                 0
enfermedad_cardiaca    0
asma                   0
epoc                   0
glucosa                0
colesterol             0
trigliceridos          0
hemoglobina            0
leucocitos             0
plaquetas              0
creatinina             0
mut_BRCA1              0
mut_TP53               0
mut_EGFR               0
mut_KRAS               0
mut_PIK3CA             0
mut_ALK                0
mut_BRAF               0
dtype: int64

In [103]:
df['tipo_empleo'].unique()

array(['Público', 'Temporal', 'Desempleado', 'Privado', 'Autónomo'],
      dtype=object)

In [104]:
df['codigo_postal'].unique()

array([98471, 23903, 20094, ...,  8356,  2946, 25957], dtype=int64)

In [105]:
df['region'].unique()

array(['Centro', 'Sur', 'Norte', 'Oeste', 'Este'], dtype=object)

In [106]:
df['ocupacion'].unique()

array(['Empleado', 'Autónomo', 'Desempleado', 'Jubilado'], dtype=object)

In [107]:
df['asma'].unique()

array([0], dtype=int64)

In [108]:
df.drop(columns=['asma'], inplace=True)

In [109]:
df['pais_nacimiento'].unique()

array(['Indonesia', 'Brazil', 'Saint Pierre and Miquelon', 'Chile',
       'Cuba', 'American Samoa', 'Montenegro', 'Cameroon', 'Barbados',
       'Slovenia', 'Greenland', 'China', 'Somalia', 'Senegal', 'Korea',
       'Palau', 'Swaziland', 'Antigua and Barbuda',
       'Holy See (Vatican City State)', 'Netherlands',
       'Equatorial Guinea', 'Samoa', 'Montserrat', 'San Marino',
       'Cayman Islands', 'Malta', 'Tuvalu', 'Benin',
       'United States of America', 'Bahamas', 'Cape Verde', 'Kazakhstan',
       'French Guiana', 'Switzerland', "Cote d'Ivoire", 'Azerbaijan',
       'Timor-Leste', 'Gibraltar', 'Vanuatu', 'Malawi',
       'Saint Vincent and the Grenadines', 'Algeria', 'France',
       'Honduras', 'Nigeria', 'Turkmenistan', 'Isle of Man', 'Fiji',
       'Singapore', 'Kenya', 'Sweden', 'Qatar', 'Ethiopia', 'Panama',
       'Gambia', 'Liechtenstein', 'Finland', 'Serbia', 'Kuwait',
       'Iceland', 'Syrian Arab Republic', 'Australia', 'Greece',
       'British Indian Ocean Territory (Chagos Archipelago)',
       'Trinidad and Tobago', 'Guadeloupe', 'Dominica', 'Sierra Leone',
       'Afghanistan', 'Canada', 'Israel', 'French Polynesia', 'Mongolia',
       'Congo', 'Ghana', 'Portugal', 'Germany', 'Tunisia',
       'South Georgia and the South Sandwich Islands', 'Solomon Islands',
       'Guinea', 'Northern Mariana Islands', 'Norway', 'Zimbabwe',
       'Russian Federation', 'Uzbekistan', 'Philippines',
       'Brunei Darussalam', 'Cyprus', 'United States Virgin Islands',
       'Paraguay', 'Eritrea', 'Bangladesh', 'Moldova', 'Nepal', 'Belarus',
       'Guatemala', 'Tanzania', 'Albania', 'North Macedonia', 'Mexico',
       'Christmas Island', 'Bhutan', 'Bosnia and Herzegovina',
       'Saint Lucia', 'Guernsey', 'Poland', 'Austria', 'Armenia',
       'Puerto Rico', 'Zambia', 'Sao Tome and Principe', 'Myanmar',
       'Jersey', 'New Caledonia', 'Togo', 'Spain', 'Bermuda', 'Sudan',
       'Pakistan', 'Turkey', 'Colombia', 'Denmark',
       'Antarctica (the territory South of 60 deg S)', 'Bolivia',
       'Faroe Islands', 'Madagascar', 'Luxembourg', 'New Zealand',
       'Taiwan', 'Uruguay', 'Cambodia',
       'United States Minor Outlying Islands', 'Angola', 'Suriname',
       'Croatia', 'Wallis and Futuna', 'Italy', 'Saudi Arabia',
       'Heard Island and McDonald Islands', 'Jordan', 'Georgia', 'Oman',
       'Netherlands Antilles', 'Ireland', 'Svalbard & Jan Mayen Islands',
       'Guyana', 'Venezuela', 'Comoros', 'Guam', 'Haiti', 'Reunion',
       'Burkina Faso', 'Djibouti', 'Cocos (Keeling) Islands',
       'French Southern Territories', 'Tokelau', 'Aruba', 'Iraq',
       'British Virgin Islands', 'Andorra', 'Niue', 'Romania', 'Niger',
       'Kiribati', 'Egypt', 'Bahrain', 'Japan', 'Ukraine', 'Thailand',
       'Saint Helena', 'Mauritania', 'Belgium', 'Western Sahara',
       'Martinique', 'Estonia', 'Ecuador', 'El Salvador', 'Argentina',
       'Mali', 'Turks and Caicos Islands', 'Costa Rica', 'Vietnam',
       'Saint Martin', 'Morocco', 'Micronesia', 'Liberia', 'Nauru',
       'Norfolk Island', 'Lesotho', 'Kyrgyz Republic', 'Saint Barthelemy',
       'Mozambique', 'Dominican Republic', 'Marshall Islands',
       'Lithuania', 'Palestinian Territory', 'Seychelles', 'Sri Lanka',
       'Slovakia (Slovak Republic)', 'Hungary', 'Gabon', 'Botswana',
       'Falkland Islands (Malvinas)', 'South Africa', 'Tajikistan',
       'Libyan Arab Jamahiriya', 'Tonga', 'Iran', 'Burundi',
       'Pitcairn Islands', 'Nicaragua', 'Czech Republic', 'Latvia',
       'Rwanda', 'Namibia', 'Grenada', 'Central African Republic',
       'Hong Kong', 'Uganda', 'Anguilla', 'Malaysia', 'Papua New Guinea',
       'Jamaica', 'Cook Islands', 'Monaco', 'Mauritius', 'Bulgaria',
       'Lebanon', 'Saint Kitts and Nevis',
       "Lao People's Democratic Republic", 'Macao', 'Belize', 'Chad',
       'Guinea-Bissau', 'Yemen', 'United Arab Emirates', 'India',
       'United Kingdom', 'Maldives', 'Mayotte',
       'Bouvet Island (Bouvetoya)', 'Peru'], dtype=object)

In [110]:
mapa_continente_nacimiento = {
    'África': [
        'Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi',
        'Cameroon', 'Cape Verde', 'Central African Republic', 'Chad', 'Comoros',
        'Congo', "Cote d'Ivoire", 'Djibouti', 'Egypt', 'Equatorial Guinea',
        'Eritrea', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea',
        'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Libyan Arab Jamahiriya',
        'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Mayotte',
        'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Reunion',
        'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
        'Somalia', 'South Africa', 'Sudan', 'Swaziland', 'Tanzania', 'Togo',
        'Tunisia', 'Uganda', 'Western Sahara', 'Zambia', 'Zimbabwe', 
        'British Indian Ocean Territory (Chagos Archipelago)', 'Saint Helena'
    ],
    'América': [
        'Antigua and Barbuda', 'Argentina', 'Bahamas', 'Barbados', 'Belize',
        'Bermuda', 'Bolivia', 'Brazil', 'Canada', 'Cayman Islands', 'Chile',
        'Colombia', 'Costa Rica', 'Cuba', 'Dominica', 'Dominican Republic',
        'Ecuador', 'El Salvador', 'French Guiana', 'Grenada', 'Guadeloupe',
        'Guatemala', 'Guyana', 'Haiti', 'Honduras', 'Jamaica', 'Martinique',
        'Mexico', 'Montserrat', 'Nicaragua', 'Panama', 'Paraguay', 'Peru',
        'Puerto Rico', 'Saint Barthelemy', 'Saint Kitts and Nevis',
        'Saint Lucia', 'Saint Martin', 'Saint Pierre and Miquelon',
        'Saint Vincent and the Grenadines', 'Suriname', 'Trinidad and Tobago',
        'Turks and Caicos Islands', 'United States of America',
        'Uruguay', 'Venezuela', 'British Virgin Islands', 'United States Virgin Islands', 
        'Greenland', 'United States Minor Outlying Islands', 'Netherlands Antilles', 
        'Aruba', 'Falkland Islands (Malvinas)', 'Anguilla'
    ],
    'Asia': [
        'Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan',
        'Brunei Darussalam', 'Cambodia', 'China', 'Cyprus', 'Georgia', 'India',
        'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan',
        'Korea', 'Kuwait', 'Kyrgyz Republic', "Lao People's Democratic Republic",
        'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal',
        'Oman', 'Pakistan', 'Palestinian Territory', 'Philippines', 'Qatar',
        'Saudi Arabia', 'Singapore', 'Sri Lanka', 'Syrian Arab Republic',
        'Tajikistan', 'Thailand', 'Timor-Leste', 'Turkey', 'Turkmenistan',
        'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen', 'Taiwan', 
        'Hong Kong', 'Macao'
    ],
    'Europa': [
        'Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina',
        'Bulgaria', 'Croatia', 'Czech Republic', 'Denmark', 'Estonia', 'Faroe Islands',
        'Finland', 'France', 'Germany', 'Gibraltar', 'Greece', 'Guernsey', 
        'Holy See (Vatican City State)', 'Hungary', 'Iceland', 'Ireland', 'Isle of Man', 
        'Italy', 'Jersey', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 
        'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia', 
        'Norway', 'Poland', 'Portugal', 'Romania', 'Russian Federation', 'San Marino', 
        'Serbia', 'Slovakia (Slovak Republic)', 'Slovenia', 'Spain', 'Sweden', 
        'Switzerland', 'Ukraine', 'United Kingdom'
    ],
    'Oceanía': [
        'American Samoa', 'Australia', 'Christmas Island', 'Cocos (Keeling) Islands',
        'Cook Islands', 'Fiji', 'French Polynesia', 'Guam', 'Kiribati', 'Marshall Islands',
        'Micronesia', 'Nauru', 'New Caledonia', 'New Zealand', 'Niue', 'Norfolk Island',
        'Northern Mariana Islands', 'Palau', 'Papua New Guinea', 'Pitcairn Islands',
        'Samoa', 'Solomon Islands', 'Tokelau', 'Tonga', 'Tuvalu', 'Vanuatu',
        'Wallis and Futuna'
    ],
    'Antártida': [
        'Antarctica (the territory South of 60 deg S)',
        'Bouvet Island (Bouvetoya)',
        'French Southern Territories',
        'Heard Island and McDonald Islands',
        'South Georgia and the South Sandwich Islands',
        'Svalbard & Jan Mayen Islands'
    ]
}

In [111]:
def assign_continente_nacimiento(pais_nacimiento):
    for continente_nacimiento, paises in mapa_continente_nacimiento.items():
        if pais_nacimiento in paises:
            return continente_nacimiento
    return 'Desconocida'

In [112]:
df['continente_nacimiento'] = df['pais_nacimiento'].map(assign_continente_nacimiento)

In [113]:
df['continente_nacimiento'].unique()

array(['Asia', 'América', 'Oceanía', 'Europa', 'África', 'Antártida'],
      dtype=object)

In [114]:
pais_sin_continente = df[df['continente_nacimiento'].isnull()]['pais_nacimiento'].unique()

# Mostrar la lista de países con 'continent' como None
print("Lista de países con 'continent' como None:")
print(pais_sin_continente)

Lista de países con 'continent' como None:
[]

In [115]:
df.drop(columns=['pais_nacimiento'], inplace=True)  # Eliminar la columna 'Provincia'

In [116]:
df.head()

,fumador,alcohol,actividad_fisica,vive,edad,sexo,estado_civil,nivel_educativo,ocupacion,region,...,plaquetas,creatinina,mut_BRCA1,mut_TP53,mut_EGFR,mut_KRAS,mut_PIK3CA,mut_ALK,mut_BRAF,continente_nacimiento
paciente_id,,,,,,,,,,,,,,,,,,,,,
P1000000,1,1,Baja,1,69,F,Viudo,Secundaria,Empleado,Centro,...,"258,09","0,97",0,0,0,0,0,0,1,Asia
P1000001,0,1,Moderada,0,32,M,Soltero,Universitaria,Autónomo,Sur,...,"278,32","0,85",0,0,0,0,0,0,1,América
P1000002,1,1,Baja,1,89,M,Viudo,Primaria,Desempleado,Norte,...,"245,35","1,59",0,0,0,0,0,0,0,América
P1000003,1,1,Baja,0,78,M,Viudo,Secundaria,Autónomo,Centro,...,"245,11","1,26",0,0,0,1,0,0,0,Asia
P1000004,1,1,Moderada,1,38,F,Soltero,Posgrado,Autónomo,Norte,...,"234,44","0,88",0,0,0,0,0,0,0,América

In [117]:
df['alcohol'].unique()

array([1], dtype=int64)

In [118]:
df['seguro_salud'].unique()

array([1], dtype=int64)

In [119]:
df['ayudas_publicas'].unique()

array([1], dtype=int64)

In [120]:
df['region'].unique()

array(['Centro', 'Sur', 'Norte', 'Oeste', 'Este'], dtype=object)

In [121]:
df['codigo_postal'].unique()

array([98471, 23903, 20094, ...,  8356,  2946, 25957], dtype=int64)

In [122]:
df.drop(columns=['codigo_postal'], inplace=True)

In [123]:
df.drop(columns=['region'], inplace=True)

In [124]:
df.drop(columns=['ayudas_publicas'], inplace=True)

In [125]:
df.drop(columns=['alcohol'], inplace=True)

In [126]:
df.drop(columns=['seguro_salud'], inplace=True)

In [127]:
# --- 1. Codificación OneHot ---
onehot_cols = ['estado_civil', 'tipo_empleo', 'ocupacion', 'continente_nacimiento']
columnas_a_codificar = [col for col in onehot_cols if col in df.columns]

if columnas_a_codificar:
    df = pd.get_dummies(df, columns=columnas_a_codificar, drop_first=False)

# --- 2. Conversión de columnas con comas ---
for col in df.columns:
    if df[col].dtype == 'object':
        muestras = df[col].dropna().astype(str).head(5)
        if muestras.str.contains(r'^\d+,\d+$').any():  # ejemplo: '88,6'
            df[col] = df[col].str.replace(',', '.').astype(float)

# --- 3. Mostrar columnas no convertibles (tipo texto real, como 'sexo') ---
no_convertibles = df.select_dtypes(include='object').columns.tolist()
if no_convertibles:
    print("Estas columnas aún tienen texto y no se pueden convertir:", no_convertibles)

# --- 4. Convertir el resto a float ---
df[df.select_dtypes(exclude='object').columns] = df.select_dtypes(exclude='object').astype(float)

Estas columnas aún tienen texto y no se pueden convertir: ['actividad_fisica', 'sexo', 'nivel_educativo']

In [128]:
df['actividad_fisica'].unique()

array(['Baja', 'Moderada', 'Alta'], dtype=object)

In [129]:
ordinal_cols = ['nivel_educativo', 'actividad_fisica']

orden_nivel_educativo = ['Primaria', 'Secundaria', 'Universitaria', 'Posgrado']
orden_actividad_fisica = ['Baja', 'Moderada', 'Alta']

oe = OrdinalEncoder(categories=[orden_nivel_educativo, orden_actividad_fisica])

In [130]:
df[ordinal_cols] = oe.fit_transform(df[ordinal_cols])

In [131]:
df.head()

,fumador,actividad_fisica,vive,edad,sexo,nivel_educativo,ingresos_mensuales,gastos_salud,deudas,diabetes,...,ocupacion_Autónomo,ocupacion_Desempleado,ocupacion_Empleado,ocupacion_Jubilado,continente_nacimiento_América,continente_nacimiento_Antártida,continente_nacimiento_Asia,continente_nacimiento_Europa,continente_nacimiento_Oceanía,continente_nacimiento_África
paciente_id,,,,,,,,,,,,,,,,,,,,,
P1000000,1.0,0.0,1.0,69.0,F,1.0,2699.72,450.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
P1000001,0.0,1.0,0.0,32.0,M,2.0,3403.55,150.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
P1000002,1.0,0.0,1.0,89.0,M,0.0,2422.41,150.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
P1000003,1.0,0.0,0.0,78.0,M,1.0,1695.42,450.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
P1000004,1.0,1.0,1.0,38.0,F,3.0,1709.51,150.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [132]:
# Codificar sexo como binario
df['sexo'] = df['sexo'].map({'F': 0, 'M': 1})

In [133]:
df.head()

,fumador,actividad_fisica,vive,edad,sexo,nivel_educativo,ingresos_mensuales,gastos_salud,deudas,diabetes,...,ocupacion_Autónomo,ocupacion_Desempleado,ocupacion_Empleado,ocupacion_Jubilado,continente_nacimiento_América,continente_nacimiento_Antártida,continente_nacimiento_Asia,continente_nacimiento_Europa,continente_nacimiento_Oceanía,continente_nacimiento_África
paciente_id,,,,,,,,,,,,,,,,,,,,,
P1000000,1.0,0.0,1.0,69.0,0,1.0,2699.72,450.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
P1000001,0.0,1.0,0.0,32.0,1,2.0,3403.55,150.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
P1000002,1.0,0.0,1.0,89.0,1,0.0,2422.41,150.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
P1000003,1.0,0.0,0.0,78.0,1,1.0,1695.42,450.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
P1000004,1.0,1.0,1.0,38.0,0,3.0,1709.51,150.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [134]:
# --- 2. Detectar columnas continuas (numéricas con más de 2 valores distintos) ---
columnas_continuas = [col for col in df.select_dtypes(include=['float64', 'int64']).columns
                      if df[col].nunique() > 2]

# --- 3. Normalizar columnas continuas ---
scaler = StandardScaler()
df[columnas_continuas] = scaler.fit_transform(df[columnas_continuas])

In [135]:
df.head()

,fumador,actividad_fisica,vive,edad,sexo,nivel_educativo,ingresos_mensuales,gastos_salud,deudas,diabetes,...,ocupacion_Autónomo,ocupacion_Desempleado,ocupacion_Empleado,ocupacion_Jubilado,continente_nacimiento_América,continente_nacimiento_Antártida,continente_nacimiento_Asia,continente_nacimiento_Europa,continente_nacimiento_Oceanía,continente_nacimiento_África
paciente_id,,,,,,,,,,,,,,,,,,,,,
P1000000,1.0,-1.039961,1.0,0.750106,0,-0.44961,1.499543,2.487493,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
P1000001,0.0,0.344623,0.0,-1.028843,1,0.44846,2.557298,-0.885562,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
P1000002,1.0,-1.039961,1.0,1.711700,1,-1.34768,1.082786,-0.885562,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
P1000003,1.0,-1.039961,0.0,1.182823,1,-0.44961,-0.009775,2.487493,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
P1000004,1.0,0.344623,1.0,-0.740365,0,1.34653,0.011400,-0.885562,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [136]:
df.to_csv('../data/datos_preprocesados.csv', index=False)